---
import QuizStarterForm from './QuizStarterForm.astro'
---

<section class="bg-gray-950 h-full flex items-center justify-center">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 bg-gray-950">
    <div class="mx-auto max-w-lg">
      <h1 class="text-3xl text-gray-50 font-extrabold sm:text-5xl text-center">
        TriviaWise
        <strong class="font-extrabold text-green-700 sm:block text-2xl">
          Discover How Much You Really Know!
        </strong>
      </h1>

      <QuizStarterForm />
    </div>
  </div>
</section>
