<form
  id="quizForm"
  method="POST"
  class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8 text-gray-50"
>
  <p class="text-center text-lg font-medium">
    Select your preferences to start the quiz
  </p>

  <div class="space-y-4">
    <div class="space-y-2">
      <div>
        <label for="category" class="block text-sm font-medium text-gray-200">
          Category
        </label>
        <select
          id="category"
          name="category"
          class="block w-full rounded px-3 py-2 shadow-sm focus:border-green-500 focus:ring focus:ring-green-500 sm:text-sm bg-gray-950"
        >
          <option value="">Choose a category</option>
          <option value="general">General Knowledge</option>
          <option value="science">Science</option>
          <option value="history">History</option>
          <option value="sports">Sports</option>
        </select>
      </div>
      <div>
        <label for="difficulty" class="block text-sm font-medium text-gray-200">
          Difficulty
        </label>
        <select
          id="difficulty"
          name="difficulty"
          class="block w-full rounded border-gray-300 px-3 py-2 shadow-sm focus:border-green-500 focus:ring focus:ring-green-500 sm:text-sm bg-gray-950"
        >
          <option value="">Choose difficulty</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>
      <div>
        <label
          for="questionType"
          class="block text-sm font-medium text-gray-200"
        >
          Question Type
        </label>
        <select
          id="questionType"
          name="questionType"
          class="block w-full rounded border-gray-300 px-3 py-2 shadow-sm focus:border-green-500 focus:ring focus:ring-green-500 bg-gray-950 sm:text-sm"
        >
          <option value="">Choose question type</option>
          <option value="multiple">Multiple Choice</option>
          <option value="boolean">True/False</option>
        </select>
      </div>
    </div>

    <button
      type="submit"
      class="block w-full rounded bg-green-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-green-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
    >
      Start Playing
    </button>
  </div>
</form>

<script>
  document
    .getElementById('quizForm')!
    .addEventListener('submit', async (event) => {
      event.preventDefault()
      const form = event.target as HTMLFormElement
      const formData = new FormData(form)
      const category = formData.get('category')
      const difficulty = formData.get('difficulty')
      const questionType = formData.get('questionType')

      window.location.href = `/quiz/${category}/${difficulty}/${questionType}`
    })
</script>
